body {
    font-family: Arial;
    background-color: antiquewhite;
    padding: 20px;
}
.container {
    background-color:aliceblue;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}
h1 {
    text-align: center;
    color: #333;
}
h2 {
    color: #555;
    font-size: 16px;
}
.section {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    display: inline-block;
    width: 28%;
    margin-right: 1%;
    vertical-align: top;
}
button {
    background-color: burlywood;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}
button:hover {
    background-color: dimgrey;
}
#connectButton {
    background-color: rgb(104, 49, 33);
    margin-bottom: 20px;
}
#connectButton:hover {
    background-color: rgb(2, 74, 26);
}
input {
    width: 90%;
    padding: 7px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
}
p {
    margin: 10px 0;
}


#balanceDisplay {
    background-color: #fcf8e3;
    padding: 10px;
    margin-top: 10px;
}
#transactionDisplay {
    background-color: #d9edf7;
    padding: 10px;
    margin-top: 10px;
}
#purposeDisplay {
    background-color: #f4e7f7;
    padding: 10px;
    margin-top: 10px;
}
#statusMessage {
    background-color: #fff9c4;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}